.hero-container {
    background-image: url("../assets/images/optimized/screenshot-4-min.png");
}

.img-1 {
    background-image: url("../assets/images/optimized/screenshot-2-min.png");
}
.img-2 {
    background-image: url("../assets/images/optimized/screenshot-1-min.png");
}